<% props = {
  pool: {
    id: @pool.id,
    title: @pool.title,
    description: @pool.description,
    prize: @pool.prize,
    participants: @participants.map do |participant|
      {
        id: participant.id,
        email: participant.email,
        username: participant.username,
        first_name: participant.first_name,
        last_name: participant.last_name,
        phone: participant.phone,
        profile_picture_url: participant.profile_picture.attached? ? url_for(participant.profile_picture) : nil,
        total_points: participant.total_points,
        predictions: participant.predictions.where(pool: @pool).map do |prediction|
          {
            match_id: prediction.match_id,
            home_team_score: prediction.home_team_score,
            away_team_score: prediction.away_team_score,
            points: prediction.points,
            pool_id: prediction.pool_id
          }
        end
      }
    userSignedIn: user_signed_in?,
    end
  }
}.to_json %>

<div id="react-root" data-props="<%= props %>"></div>
<%= javascript_pack_tag 'application' %>
