<% props = {
  pool: {
    id: @pool.id,
    title: @pool.title,
    description: @pool.description,
    raffle_winner: @pool.raffle_winner,
    isStarted: @pool.isStarted,
    isFinished: @pool.isFinished,
    isPublic: @pool.isPublic,
    prize: @pool.prize,
    user_id: @pool.user_id,
    created_at: @pool.created_at,
    updated_at: @pool.updated_at,
    matches: @matches.map { |match| { 
      id: match.id, 
      home_team: match.home_team, 
      home_team_logo: match.home_team_logo,
      away_team: match.away_team, 
      away_team_logo: match.away_team_logo,
      date: match.date, 
      venue: match.venue,
      home_team_score: match.home_team_score,
      away_team_score: match.away_team_score,
      status: match.status,
      elapsed: match.elapsed,
    } },
    participants: @pool.users.includes(:predictions).map { |user| 
      { 
        id: user.id, 
        email: user.email,
        first_name: user.first_name,
        profile_picture_url: user.profile_picture.attached? ? url_for(user.profile_picture) : nil,
        predictions: user.predictions.where(pool_id: @pool.id).map { |prediction|
          { 
            match_id: prediction.match_id, 
            home_team_score: prediction.home_team_score, 
            away_team_score: prediction.away_team_score, 
            points: prediction.points 
          } 
        } 
      } 
    }
  },
  notice: flash[:notice],
  userIsCreator: @user_is_creator || false,
  userIsParticipant: @user_is_participant || false,
  currentUser: current_user ? {
    id: current_user.id,
    predictions: current_user.predictions.where(pool_id: @pool.id).map { |prediction| {
      id: prediction.id,
      match_id: prediction.match_id, 
      home_team_score: prediction.home_team_score, 
      away_team_score: prediction.away_team_score,
      points: prediction.points,
      home_team_logo: prediction.match.home_team_logo,
      away_team_logo: prediction.match.away_team_logo,
      pool_id: prediction.pool_id
    } },
    admin: current_user.admin?
  } : nil,
  userSignedIn: user_signed_in?,
  csrfToken: form_authenticity_token
}.to_json %>

<div id="react-root" data-props="<%= props %>"></div>
<%= javascript_pack_tag 'application' %>
