<% props = {
  pool: {
    id: @pool.id,
    title: @pool.title,
    description: @pool.description,
    raffle_winner: @pool.raffle_winner,
    isStarted: @pool.isStarted,
    isFinished: @pool.isFinished,
    prize: @pool.prize,
    user_id: @pool.user_id,
    created_at: @pool.created_at,
    updated_at: @pool.updated_at,
    matches: @matches.map { |match| { id: match.id, home_team: match.home_team, away_team: match.away_team, date: match.date, venue: match.venue } }
  },
  notice: flash[:notice],
  userIsCreator: @user_is_creator,
  userIsParticipant: @user_is_participant,
  currentUser: {
    id: current_user.id,
    predictions: current_user.predictions.where(pool: @pool).map { |prediction| { match_id: prediction.match_id, home_team_score: prediction.home_team_score, away_team_score: prediction.away_team_score } }
  }
}.to_json %>

<div id="react-root" data-props="<%= props %>"></div>
<%= javascript_pack_tag 'application' %>
