<!DOCTYPE html>
<html>
<head>
  <title>Football Pools</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="react-root" data-props='<%= @props.to_json %>'></div>
</body>
</html>
