body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.logout-link, .login-link, .signup-link {
  background-color: #59ffc7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
}

.logout-link:hover, .login-link:hover, .signup-link:hover {
  background-color: #0056b3;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: auto !important;
  margin-right: auto !important;
}

.notice {
  color: #4caf50;
  background-color: #e8f5e9;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.steps-title {
  color: #2e2e2e;
  margin: 0;
  padding: 10px;
  background: #59ffc7;
}

.steps-box {
  background-color: #2e2e2e;
  color: white;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.telegram-btn-steps {
  background: #007fff;
  border-radius: 10px;
  padding: 10px 5px;
  width: 320px;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 16px;
  margin-left: 5px;
  margin-top: -7px;
}

.steps-box h3 {
  margin: 0;
}

.steps-box p {
  margin: 5px 5px;
}

.steps-box .step {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  height: 40px;
}

.steps-box .step h2 {
  color: white;
}

.steps-box .step .step-number {
  background-color: #59ffc7;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.steps-box .step .step-content {
  margin-left: 10px;
}

.steps-box .step .step-content p {
  margin: 0;
}

.pools-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pool-item {
  background-color: #2e2e2e;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.main-button {
  /* button rounded with a background gradient from pink to blue */
  background: linear-gradient(90deg, #00a6ff, #6c09ee);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.pool-item p {
  margin: 5px 0;
}

.view-pool-link {
  color: #59ffc7;
  text-decoration: none;
}

.view-pool-link:hover {
  text-decoration: underline;
}

.creator-actions {
  text-align: center;
  margin-top: 20px;
}

.creator-actions .new-pool-link {
  color: #59ffc7;
  text-decoration: none;
}

.creator-actions .new-pool-link:hover {
  text-decoration: underline;
}