.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.profile-profile-picture-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.profile-picture {
  width: 40px; /* Ajusta el tamaño según tus necesidades */
  height: 40px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px; /* Espacio entre la imagen y el nombre del usuario */
}

/* Estilos para el contenedor de placeholder de perfil */
.profile-placeholder {
  width: 40px; /* Ajusta el tamaño según tus necesidades */
  height: 40px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%;
  background-color: #ccc; /* Color de fondo del placeholder */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Color del texto */
  font-size: 20px; /* Tamaño de la letra */
  font-weight: bold;
  margin-right: 10px; /* Espacio entre el placeholder y el nombre del usuario */
}

.edit-profile-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.edit-profile-button:hover {
  background-color: #0056b3;
}
